@import 'props.media.css';

:where(html) {
  --base-white: hsl(0 0% 100%);
  --base-black: hsl(0 0% 0%);
  --gray-0-hsl: 210 7% 56%;
  --gray-hsl: 210 7% 56%;
  --gray-1-hsl: 210 11% 15%;
  --gray-2-hsl: 214 14% 10%;
  --gray-3-hsl: 216 16% 6%;
  --gray-4-hsl: 210 40% 2%;
  --gray-5-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 25%);
  --gray-6-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 50%);
  --gray-7-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 75%);
  --gray-8-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
  --gray-9-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
  --gray-10-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
  --gray--1-hsl: 210 9% 31%;
  --gray--2-hsl: 210 7% 56%;
  --gray--3-hsl: 210 11% 71%;
  --gray--4-hsl: 210 14% 83%;
  --gray--5-hsl: 210 14% 89%;
  --gray--6-hsl: 210 16% 93%;
  --gray--7-hsl: 210 17% 95%;
  --gray--8-hsl: 210 17% 98%;
  --gray--9-hsl: color-mix(in oklch, hsl(210 17% 98%), var(--base-white) 25%);
  --gray--10-hsl: color-mix(in oklch, hsl(210 17% 98%), var(--base-white) 50%);
  --stone-0-hsl: 180 2% 50%;
  --stone-hsl: 180 2% 50%;
  --stone-1-hsl: 90 1% 31%;
  --stone-2-hsl: 60 3% 22%;
  --stone-3-hsl: 60 6% 14%;
  --stone-4-hsl: 60 6% 7%;
  --stone-5-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 25%);
  --stone-6-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 50%);
  --stone-7-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 75%);
  --stone-8-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --stone-9-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --stone-10-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --stone--1-hsl: 180 2% 50%;
  --stone--2-hsl: 200 3% 60%;
  --stone--3-hsl: 202 5% 71%;
  --stone--4-hsl: 197 8% 83%;
  --stone--5-hsl: 192 9% 89%;
  --stone--6-hsl: 210 11% 93%;
  --stone--7-hsl: 210 18% 96%;
  --stone--8-hsl: 200 27% 98%;
  --stone--9-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 25%);
  --stone--10-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 50%);
  --red-0-hsl: 0 100% 71%;
  --red-hsl: 0 100% 71%;
  --red-1-hsl: 0 65% 48%;
  --red-2-hsl: 0 65% 42%;
  --red-3-hsl: 0 65% 36%;
  --red-4-hsl: 0 66% 30%;
  --red-5-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 25%);
  --red-6-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 50%);
  --red-7-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 75%);
  --red-8-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
  --red-9-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
  --red-10-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
  --red--1-hsl: 0 86% 59%;
  --red--2-hsl: 0 94% 65%;
  --red--3-hsl: 0 100% 71%;
  --red--4-hsl: 0 100% 76%;
  --red--5-hsl: 0 100% 83%;
  --red--6-hsl: 0 100% 89%;
  --red--7-hsl: 0 100% 95%;
  --red--8-hsl: 0 100% 98%;
  --red--9-hsl: color-mix(in oklch, hsl(0 100% 98%), var(--base-white) 25%);
  --red--10-hsl: color-mix(in oklch, hsl(0 100% 98%), var(--base-white) 50%);
  --pink-0-hsl: 339 76% 59%;
  --pink-hsl: 339 76% 59%;
  --pink-1-hsl: 339 69% 38%;
  --pink-2-hsl: 339 70% 32%;
  --pink-3-hsl: 339 69% 27%;
  --pink-4-hsl: 339 70% 21%;
  --pink-5-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 25%);
  --pink-6-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 50%);
  --pink-7-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 75%);
  --pink-8-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
  --pink-9-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
  --pink-10-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
  --pink--1-hsl: 339 67% 52%;
  --pink--2-hsl: 339 76% 59%;
  --pink--3-hsl: 339 82% 67%;
  --pink--4-hsl: 339 88% 74%;
  --pink--5-hsl: 339 90% 81%;
  --pink--6-hsl: 338 91% 87%;
  --pink--7-hsl: 336 100% 94%;
  --pink--8-hsl: 336 100% 97%;
  --pink--9-hsl: color-mix(in oklch, hsl(336 100% 97%), var(--base-white) 25%);
  --pink--10-hsl: color-mix(in oklch, hsl(336 100% 97%), var(--base-white) 50%);
  --purple-0-hsl: 288 83% 71%;
  --purple-hsl: 288 83% 71%;
  --purple-1-hsl: 288 54% 40%;
  --purple-2-hsl: 288 55% 33%;
  --purple-3-hsl: 288 56% 26%;
  --purple-4-hsl: 288 55% 20%;
  --purple-5-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 25%);
  --purple-6-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 50%);
  --purple-7-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 75%);
  --purple-8-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
  --purple-9-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
  --purple-10-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
  --purple--1-hsl: 288 56% 52%;
  --purple--2-hsl: 288 67% 58%;
  --purple--3-hsl: 288 75% 64%;
  --purple--4-hsl: 288 83% 71%;
  --purple--5-hsl: 289 85% 78%;
  --purple--6-hsl: 288 86% 86%;
  --purple--7-hsl: 287 77% 92%;
  --purple--8-hsl: 280 67% 96%;
  --purple--9-hsl: color-mix(in oklch, hsl(280 67% 96%), var(--base-white) 25%);
  --purple--10-hsl: color-mix(in oklch, hsl(280 67% 96%), var(--base-white) 50%);
  --violet-0-hsl: 255 91% 67%;
  --violet-hsl: 255 91% 67%;
  --violet-1-hsl: 255 53% 50%;
  --violet-2-hsl: 255 53% 44%;
  --violet-3-hsl: 255 53% 37%;
  --violet-4-hsl: 255 53% 31%;
  --violet-5-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 25%);
  --violet-6-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 50%);
  --violet-7-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 75%);
  --violet-8-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
  --violet-9-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
  --violet-10-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
  --violet--1-hsl: 255 78% 60%;
  --violet--2-hsl: 255 86% 63%;
  --violet--3-hsl: 255 91% 67%;
  --violet--4-hsl: 255 93% 72%;
  --violet--5-hsl: 255 94% 79%;
  --violet--6-hsl: 256 100% 87%;
  --violet--7-hsl: 257 100% 93%;
  --violet--8-hsl: 252 100% 97%;
  --violet--9-hsl: color-mix(in oklch, hsl(252 100% 97%), var(--base-white) 25%);
  --violet--10-hsl: color-mix(in oklch, hsl(252 100% 97%), var(--base-white) 50%);
  --indigo-0-hsl: 228 94% 67%;
  --indigo-hsl: 228 94% 67%;
  --indigo-1-hsl: 230 57% 50%;
  --indigo-2-hsl: 230 57% 43%;
  --indigo-3-hsl: 230 57% 37%;
  --indigo-4-hsl: 230 57% 30%;
  --indigo-5-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 25%);
  --indigo-6-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 50%);
  --indigo-7-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 75%);
  --indigo-8-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
  --indigo-9-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
  --indigo-10-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
  --indigo--1-hsl: 228 81% 59%;
  --indigo--2-hsl: 228 89% 63%;
  --indigo--3-hsl: 228 94% 67%;
  --indigo--4-hsl: 228 96% 72%;
  --indigo--5-hsl: 228 100% 78%;
  --indigo--6-hsl: 228 100% 86%;
  --indigo--7-hsl: 225 100% 93%;
  --indigo--8-hsl: 223 100% 96%;
  --indigo--9-hsl: color-mix(in oklch, hsl(223 100% 96%), var(--base-white) 25%);
  --indigo--10-hsl: color-mix(in oklch, hsl(223 100% 96%), var(--base-white) 50%);
  --blue-0-hsl: 207 86% 57%;
  --blue-hsl: 207 86% 57%;
  --blue-1-hsl: 209 75% 38%;
  --blue-2-hsl: 209 76% 32%;
  --blue-3-hsl: 209 75% 27%;
  --blue-4-hsl: 209 76% 21%;
  --blue-5-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 25%);
  --blue-6-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 50%);
  --blue-7-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 75%);
  --blue-8-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
  --blue-9-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
  --blue-10-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
  --blue--1-hsl: 208 77% 47%;
  --blue--2-hsl: 208 80% 52%;
  --blue--3-hsl: 207 86% 57%;
  --blue--4-hsl: 207 91% 64%;
  --blue--5-hsl: 206 96% 72%;
  --blue--6-hsl: 206 100% 82%;
  --blue--7-hsl: 206 100% 91%;
  --blue--8-hsl: 205 100% 95%;
  --blue--9-hsl: color-mix(in oklch, hsl(205 100% 95%), var(--base-white) 25%);
  --blue--10-hsl: color-mix(in oklch, hsl(205 100% 95%), var(--base-white) 50%);
  --cyan-0-hsl: 187 80% 42%;
  --cyan-hsl: 187 80% 42%;
  --cyan-1-hsl: 189 85% 28%;
  --cyan-2-hsl: 189 84% 23%;
  --cyan-3-hsl: 190 84% 17%;
  --cyan-4-hsl: 189 84% 12%;
  --cyan-5-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 25%);
  --cyan-6-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 50%);
  --cyan-7-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 75%);
  --cyan-8-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
  --cyan-9-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
  --cyan-10-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
  --cyan--1-hsl: 188 83% 37%;
  --cyan--2-hsl: 187 80% 42%;
  --cyan--3-hsl: 188 72% 47%;
  --cyan--4-hsl: 187 69% 55%;
  --cyan--5-hsl: 187 74% 65%;
  --cyan--6-hsl: 186 77% 77%;
  --cyan--7-hsl: 185 84% 88%;
  --cyan--8-hsl: 185 81% 94%;
  --cyan--9-hsl: color-mix(in oklch, hsl(185 81% 94%), var(--base-white) 25%);
  --cyan--10-hsl: color-mix(in oklch, hsl(185 81% 94%), var(--base-white) 50%);
  --teal-0-hsl: 162 82% 40%;
  --teal-hsl: 162 82% 40%;
  --teal-1-hsl: 162 88% 26%;
  --teal-2-hsl: 162 89% 21%;
  --teal-3-hsl: 162 88% 16%;
  --teal-4-hsl: 163 89% 11%;
  --teal-5-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 25%);
  --teal-6-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 50%);
  --teal-7-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 75%);
  --teal-8-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
  --teal-9-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
  --teal-10-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
  --teal--1-hsl: 162 87% 35%;
  --teal--2-hsl: 162 82% 40%;
  --teal--3-hsl: 162 73% 46%;
  --teal--4-hsl: 162 68% 54%;
  --teal--5-hsl: 162 72% 65%;
  --teal--6-hsl: 162 78% 77%;
  --teal--7-hsl: 160 85% 87%;
  --teal--8-hsl: 161 79% 95%;
  --teal--9-hsl: color-mix(in oklch, hsl(161 79% 95%), var(--base-white) 25%);
  --teal--10-hsl: color-mix(in oklch, hsl(161 79% 95%), var(--base-white) 50%);
  --green-0-hsl: 130 57% 56%;
  --green-hsl: 130 57% 56%;
  --green-1-hsl: 132 52% 35%;
  --green-2-hsl: 132 52% 29%;
  --green-3-hsl: 132 53% 22%;
  --green-4-hsl: 131 53% 16%;
  --green-5-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 25%);
  --green-6-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 50%);
  --green-7-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 75%);
  --green-8-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
  --green-9-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
  --green-10-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
  --green--1-hsl: 131 53% 46%;
  --green--2-hsl: 131 50% 50%;
  --green--3-hsl: 130 57% 56%;
  --green--4-hsl: 130 61% 64%;
  --green--5-hsl: 129 68% 73%;
  --green--6-hsl: 128 71% 82%;
  --green--7-hsl: 128 76% 90%;
  --green--8-hsl: 131 67% 95%;
  --green--9-hsl: color-mix(in oklch, hsl(131 67% 95%), var(--base-white) 25%);
  --green--10-hsl: color-mix(in oklch, hsl(131 67% 95%), var(--base-white) 50%);
  --lime-0-hsl: 86 84% 36%;
  --lime-hsl: 86 84% 36%;
  --lime-1-hsl: 85 84% 32%;
  --lime-2-hsl: 85 83% 26%;
  --lime-3-hsl: 85 83% 21%;
  --lime-4-hsl: 85 84% 15%;
  --lime-5-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 25%);
  --lime-6-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 50%);
  --lime-7-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 75%);
  --lime-8-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
  --lime-9-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
  --lime-10-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
  --lime--1-hsl: 85 79% 40%;
  --lime--2-hsl: 85 74% 45%;
  --lime--3-hsl: 84 69% 51%;
  --lime--4-hsl: 83 73% 59%;
  --lime--5-hsl: 82 75% 69%;
  --lime--6-hsl: 81 81% 80%;
  --lime--7-hsl: 80 83% 88%;
  --lime--8-hsl: 79 81% 94%;
  --lime--9-hsl: color-mix(in oklch, hsl(79 81% 94%), var(--base-white) 25%);
  --lime--10-hsl: color-mix(in oklch, hsl(79 81% 94%), var(--base-white) 50%);
  --yellow-0-hsl: 39 100% 48%;
  --yellow-hsl: 39 100% 48%;
  --yellow-1-hsl: 31 100% 45%;
  --yellow-2-hsl: 31 100% 35%;
  --yellow-3-hsl: 31 100% 25%;
  --yellow-4-hsl: 31 100% 20%;
  --yellow-5-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 25%);
  --yellow-6-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 50%);
  --yellow-7-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 75%);
  --yellow-8-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
  --yellow-9-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
  --yellow-10-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
  --yellow--1-hsl: 39 100% 48%;
  --yellow--2-hsl: 42 96% 50%;
  --yellow--3-hsl: 45 97% 54%;
  --yellow--4-hsl: 47 100% 62%;
  --yellow--5-hsl: 48 100% 70%;
  --yellow--6-hsl: 49 100% 80%;
  --yellow--7-hsl: 49 100% 87%;
  --yellow--8-hsl: 50 100% 93%;
  --yellow--9-hsl: color-mix(in oklch, hsl(50 100% 93%), var(--base-white) 25%);
  --yellow--10-hsl: color-mix(in oklch, hsl(50 100% 93%), var(--base-white) 50%);
  --orange-0-hsl: 27 98% 54%;
  --orange-hsl: 27 98% 54%;
  --orange-1-hsl: 17 87% 45%;
  --orange-2-hsl: 17 87% 40%;
  --orange-3-hsl: 17 87% 32%;
  --orange-4-hsl: 17 87% 27%;
  --orange-5-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 25%);
  --orange-6-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 50%);
  --orange-7-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 75%);
  --orange-8-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
  --orange-9-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
  --orange-10-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
  --orange--1-hsl: 24 94% 50%;
  --orange--2-hsl: 27 98% 54%;
  --orange--3-hsl: 29 100% 58%;
  --orange--4-hsl: 31 100% 65%;
  --orange--5-hsl: 32 100% 74%;
  --orange--6-hsl: 33 100% 83%;
  --orange--7-hsl: 33 100% 90%;
  --orange--8-hsl: 34 100% 95%;
  --orange--9-hsl: color-mix(in oklch, hsl(34 100% 95%), var(--base-white) 25%);
  --orange--10-hsl: color-mix(in oklch, hsl(34 100% 95%), var(--base-white) 50%);
  --choco-0-hsl: 25 70% 49%;
  --choco-hsl: 25 70% 49%;
  --choco-1-hsl: 25 76% 31%;
  --choco-2-hsl: 25 71% 26%;
  --choco-3-hsl: 25 66% 21%;
  --choco-4-hsl: 25 65% 15%;
  --choco-5-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 25%);
  --choco-6-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 50%);
  --choco-7-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 75%);
  --choco-8-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
  --choco-9-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
  --choco-10-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
  --choco--1-hsl: 25 75% 42%;
  --choco--2-hsl: 25 70% 49%;
  --choco--3-hsl: 25 71% 57%;
  --choco--4-hsl: 25 75% 65%;
  --choco--5-hsl: 27 80% 72%;
  --choco--6-hsl: 30 85% 79%;
  --choco--7-hsl: 35 91% 86%;
  --choco--8-hsl: 48 100% 93%;
  --choco--9-hsl: color-mix(in oklch, hsl(48 100% 93%), var(--base-white) 25%);
  --choco--10-hsl: color-mix(in oklch, hsl(48 100% 93%), var(--base-white) 50%);
  --brown-0-hsl: 28 32% 50%;
  --brown-hsl: 28 32% 50%;
  --brown-1-hsl: 27 42% 31%;
  --brown-2-hsl: 25 48% 25%;
  --brown-3-hsl: 23 58% 19%;
  --brown-4-hsl: 22 57% 16%;
  --brown-5-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 25%);
  --brown-6-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 50%);
  --brown-7-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 75%);
  --brown-8-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
  --brown-9-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
  --brown-10-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
  --brown--1-hsl: 28 35% 43%;
  --brown--2-hsl: 28 32% 50%;
  --brown--3-hsl: 28 34% 57%;
  --brown--4-hsl: 27 36% 65%;
  --brown--5-hsl: 28 38% 72%;
  --brown--6-hsl: 28 40% 80%;
  --brown--7-hsl: 32 44% 87%;
  --brown--8-hsl: 36 60% 95%;
  --brown--9-hsl: color-mix(in oklch, hsl(36 60% 95%), var(--base-white) 25%);
  --brown--10-hsl: color-mix(in oklch, hsl(36 60% 95%), var(--base-white) 50%);
  --sand-0-hsl: 44 14% 54%;
  --sand-hsl: 44 14% 54%;
  --sand-1-hsl: 43 14% 26%;
  --sand-2-hsl: 44 11% 20%;
  --sand-3-hsl: 60 6% 14%;
  --sand-4-hsl: 60 6% 7%;
  --sand-5-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 25%);
  --sand-6-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 50%);
  --sand-7-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 75%);
  --sand-8-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --sand-9-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --sand-10-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
  --sand--1-hsl: 43 16% 39%;
  --sand--2-hsl: 42 14% 46%;
  --sand--3-hsl: 44 14% 54%;
  --sand--4-hsl: 44 17% 62%;
  --sand--5-hsl: 44 22% 69%;
  --sand--6-hsl: 45 22% 79%;
  --sand--7-hsl: 48 17% 88%;
  --sand--8-hsl: 200 27% 98%;
  --sand--9-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 25%);
  --sand--10-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 50%);
  --camo-0-hsl: 65 69% 59%;
  --camo-hsl: 65 69% 59%;
  --camo-1-hsl: 54 69% 25%;
  --camo-2-hsl: 53 69% 22%;
  --camo-3-hsl: 53 69% 18%;
  --camo-4-hsl: 52 69% 13%;
  --camo-5-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 25%);
  --camo-6-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 50%);
  --camo-7-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 75%);
  --camo-8-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
  --camo-9-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
  --camo-10-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
  --camo--1-hsl: 56 67% 33%;
  --camo--2-hsl: 59 65% 36%;
  --camo--3-hsl: 60 62% 41%;
  --camo--4-hsl: 63 61% 46%;
  --camo--5-hsl: 65 61% 51%;
  --camo--6-hsl: 65 69% 59%;
  --camo--7-hsl: 64 69% 77%;
  --camo--8-hsl: 66 71% 95%;
  --camo--9-hsl: color-mix(in oklch, hsl(66 71% 95%), var(--base-white) 25%);
  --camo--10-hsl: color-mix(in oklch, hsl(66 71% 95%), var(--base-white) 50%);
  --jungle-0-hsl: 73 90% 32%;
  --jungle-hsl: 73 90% 32%;
  --jungle-1-hsl: 73 90% 32%;
  --jungle-2-hsl: 73 91% 26%;
  --jungle-3-hsl: 73 91% 21%;
  --jungle-4-hsl: 73 90% 16%;
  --jungle-5-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 25%);
  --jungle-6-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 50%);
  --jungle-7-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 75%);
  --jungle-8-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
  --jungle-9-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
  --jungle-10-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
  --jungle--1-hsl: 74 66% 42%;
  --jungle--2-hsl: 74 55% 47%;
  --jungle--3-hsl: 74 53% 53%;
  --jungle--4-hsl: 74 56% 59%;
  --jungle--5-hsl: 75 62% 65%;
  --jungle--6-hsl: 74 68% 71%;
  --jungle--7-hsl: 74 79% 78%;
  --jungle--8-hsl: 74 98% 84%;
  --jungle--9-hsl: color-mix(in oklch, hsl(74 98% 84%), var(--base-white) 25%);
  --jungle--10-hsl: color-mix(in oklch, hsl(74 98% 84%), var(--base-white) 50%);
  --color-black-0: hsl(0 0% 0%);
  --color-black-1: hsl(0 0% 10%);
  --color-black-2: hsl(0 0% 20%);
  --color-black-3: hsl(0 0% 30%);
  --color-black-4: hsl(0 0% 40%);
  --color-black-5: hsl(0 0% 50%);
  --color-black-6: hsl(0 0% 60%);
  --color-black-7: hsl(0 0% 70%);
  --color-black-8: hsl(0 0% 80%);
  --color-black-9: hsl(0 0% 90%);
  --color-black-10: hsl(0 0% 95%);
  --color-white-0: hsl(0 0% 100%);
  --color-white-1: hsl(0 0% 95%);
  --color-white-2: hsl(0 0% 90%);
  --color-white-3: hsl(0 0% 85%);
  --color-white-4: hsl(0 0% 80%);
  --color-white-5: hsl(0 0% 75%);
  --color-white-6: hsl(0 0% 70%);
  --color-white-7: hsl(0 0% 65%);
  --color-white-8: hsl(0 0% 60%);
  --color-white-9: hsl(0 0% 55%);
  --color-white-10: hsl(0 0% 50%);
}

@media (--OSdark) {
  :where(html) {
    --gray-0-hsl: 210 7% 56%;
    --gray-hsl: 210 7% 56%;
    --gray-1-hsl: 210 9% 31%;
    --gray-2-hsl: 210 7% 56%;
    --gray-3-hsl: 210 11% 71%;
    --gray-4-hsl: 210 14% 83%;
    --gray-5-hsl: 210 14% 89%;
    --gray-6-hsl: 210 16% 93%;
    --gray-7-hsl: 210 17% 95%;
    --gray-8-hsl: 210 17% 98%;
    --gray-9-hsl: color-mix(in oklch, hsl(210 17% 98%), var(--base-white) 25%);
    --gray-10-hsl: color-mix(in oklch, hsl(210 17% 98%), var(--base-white) 50%);
    --gray--1-hsl: 210 11% 15%;
    --gray--2-hsl: 214 14% 10%;
    --gray--3-hsl: 216 16% 6%;
    --gray--4-hsl: 210 40% 2%;
    --gray--5-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 25%);
    --gray--6-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 50%);
    --gray--7-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 75%);
    --gray--8-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
    --gray--9-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
    --gray--10-hsl: color-mix(in oklch, hsl(210 40% 2%), var(--base-black) 95%);
    --stone-0-hsl: 180 2% 50%;
    --stone-hsl: 180 2% 50%;
    --stone-1-hsl: 180 2% 50%;
    --stone-2-hsl: 200 3% 60%;
    --stone-3-hsl: 202 5% 71%;
    --stone-4-hsl: 197 8% 83%;
    --stone-5-hsl: 192 9% 89%;
    --stone-6-hsl: 210 11% 93%;
    --stone-7-hsl: 210 18% 96%;
    --stone-8-hsl: 200 27% 98%;
    --stone-9-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 25%);
    --stone-10-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 50%);
    --stone--1-hsl: 90 1% 31%;
    --stone--2-hsl: 60 3% 22%;
    --stone--3-hsl: 60 6% 14%;
    --stone--4-hsl: 60 6% 7%;
    --stone--5-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 25%);
    --stone--6-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 50%);
    --stone--7-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 75%);
    --stone--8-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --stone--9-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --stone--10-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --red-0-hsl: 0 100% 71%;
    --red-hsl: 0 100% 71%;
    --red-1-hsl: 0 86% 59%;
    --red-2-hsl: 0 94% 65%;
    --red-3-hsl: 0 100% 71%;
    --red-4-hsl: 0 100% 76%;
    --red-5-hsl: 0 100% 83%;
    --red-6-hsl: 0 100% 89%;
    --red-7-hsl: 0 100% 95%;
    --red-8-hsl: 0 100% 98%;
    --red-9-hsl: color-mix(in oklch, hsl(0 100% 98%), var(--base-white) 25%);
    --red-10-hsl: color-mix(in oklch, hsl(0 100% 98%), var(--base-white) 50%);
    --red--1-hsl: 0 65% 48%;
    --red--2-hsl: 0 65% 42%;
    --red--3-hsl: 0 65% 36%;
    --red--4-hsl: 0 66% 30%;
    --red--5-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 25%);
    --red--6-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 50%);
    --red--7-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 75%);
    --red--8-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
    --red--9-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
    --red--10-hsl: color-mix(in oklch, hsl(0 66% 30%), var(--base-black) 95%);
    --pink-0-hsl: 339 76% 59%;
    --pink-hsl: 339 76% 59%;
    --pink-1-hsl: 339 67% 52%;
    --pink-2-hsl: 339 76% 59%;
    --pink-3-hsl: 339 82% 67%;
    --pink-4-hsl: 339 88% 74%;
    --pink-5-hsl: 339 90% 81%;
    --pink-6-hsl: 338 91% 87%;
    --pink-7-hsl: 336 100% 94%;
    --pink-8-hsl: 336 100% 97%;
    --pink-9-hsl: color-mix(in oklch, hsl(336 100% 97%), var(--base-white) 25%);
    --pink-10-hsl: color-mix(in oklch, hsl(336 100% 97%), var(--base-white) 50%);
    --pink--1-hsl: 339 69% 38%;
    --pink--2-hsl: 339 70% 32%;
    --pink--3-hsl: 339 69% 27%;
    --pink--4-hsl: 339 70% 21%;
    --pink--5-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 25%);
    --pink--6-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 50%);
    --pink--7-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 75%);
    --pink--8-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
    --pink--9-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
    --pink--10-hsl: color-mix(in oklch, hsl(339 70% 21%), var(--base-black) 95%);
    --purple-0-hsl: 288 83% 71%;
    --purple-hsl: 288 83% 71%;
    --purple-1-hsl: 288 56% 52%;
    --purple-2-hsl: 288 67% 58%;
    --purple-3-hsl: 288 75% 64%;
    --purple-4-hsl: 288 83% 71%;
    --purple-5-hsl: 289 85% 78%;
    --purple-6-hsl: 288 86% 86%;
    --purple-7-hsl: 287 77% 92%;
    --purple-8-hsl: 280 67% 96%;
    --purple-9-hsl: color-mix(in oklch, hsl(280 67% 96%), var(--base-white) 25%);
    --purple-10-hsl: color-mix(in oklch, hsl(280 67% 96%), var(--base-white) 50%);
    --purple--1-hsl: 288 54% 40%;
    --purple--2-hsl: 288 55% 33%;
    --purple--3-hsl: 288 56% 26%;
    --purple--4-hsl: 288 55% 20%;
    --purple--5-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 25%);
    --purple--6-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 50%);
    --purple--7-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 75%);
    --purple--8-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
    --purple--9-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
    --purple--10-hsl: color-mix(in oklch, hsl(288 55% 20%), var(--base-black) 95%);
    --violet-0-hsl: 255 91% 67%;
    --violet-hsl: 255 91% 67%;
    --violet-1-hsl: 255 78% 60%;
    --violet-2-hsl: 255 86% 63%;
    --violet-3-hsl: 255 91% 67%;
    --violet-4-hsl: 255 93% 72%;
    --violet-5-hsl: 255 94% 79%;
    --violet-6-hsl: 256 100% 87%;
    --violet-7-hsl: 257 100% 93%;
    --violet-8-hsl: 252 100% 97%;
    --violet-9-hsl: color-mix(in oklch, hsl(252 100% 97%), var(--base-white) 25%);
    --violet-10-hsl: color-mix(in oklch, hsl(252 100% 97%), var(--base-white) 50%);
    --violet--1-hsl: 255 53% 50%;
    --violet--2-hsl: 255 53% 44%;
    --violet--3-hsl: 255 53% 37%;
    --violet--4-hsl: 255 53% 31%;
    --violet--5-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 25%);
    --violet--6-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 50%);
    --violet--7-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 75%);
    --violet--8-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
    --violet--9-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
    --violet--10-hsl: color-mix(in oklch, hsl(255 53% 31%), var(--base-black) 95%);
    --indigo-0-hsl: 228 94% 67%;
    --indigo-hsl: 228 94% 67%;
    --indigo-1-hsl: 228 81% 59%;
    --indigo-2-hsl: 228 89% 63%;
    --indigo-3-hsl: 228 94% 67%;
    --indigo-4-hsl: 228 96% 72%;
    --indigo-5-hsl: 228 100% 78%;
    --indigo-6-hsl: 228 100% 86%;
    --indigo-7-hsl: 225 100% 93%;
    --indigo-8-hsl: 223 100% 96%;
    --indigo-9-hsl: color-mix(in oklch, hsl(223 100% 96%), var(--base-white) 25%);
    --indigo-10-hsl: color-mix(in oklch, hsl(223 100% 96%), var(--base-white) 50%);
    --indigo--1-hsl: 230 57% 50%;
    --indigo--2-hsl: 230 57% 43%;
    --indigo--3-hsl: 230 57% 37%;
    --indigo--4-hsl: 230 57% 30%;
    --indigo--5-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 25%);
    --indigo--6-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 50%);
    --indigo--7-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 75%);
    --indigo--8-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
    --indigo--9-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
    --indigo--10-hsl: color-mix(in oklch, hsl(230 57% 30%), var(--base-black) 95%);
    --blue-0-hsl: 207 86% 57%;
    --blue-hsl: 207 86% 57%;
    --blue-1-hsl: 208 77% 47%;
    --blue-2-hsl: 208 80% 52%;
    --blue-3-hsl: 207 86% 57%;
    --blue-4-hsl: 207 91% 64%;
    --blue-5-hsl: 206 96% 72%;
    --blue-6-hsl: 206 100% 82%;
    --blue-7-hsl: 206 100% 91%;
    --blue-8-hsl: 205 100% 95%;
    --blue-9-hsl: color-mix(in oklch, hsl(205 100% 95%), var(--base-white) 25%);
    --blue-10-hsl: color-mix(in oklch, hsl(205 100% 95%), var(--base-white) 50%);
    --blue--1-hsl: 209 75% 38%;
    --blue--2-hsl: 209 76% 32%;
    --blue--3-hsl: 209 75% 27%;
    --blue--4-hsl: 209 76% 21%;
    --blue--5-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 25%);
    --blue--6-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 50%);
    --blue--7-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 75%);
    --blue--8-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
    --blue--9-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
    --blue--10-hsl: color-mix(in oklch, hsl(209 76% 21%), var(--base-black) 95%);
    --cyan-0-hsl: 187 80% 42%;
    --cyan-hsl: 187 80% 42%;
    --cyan-1-hsl: 188 83% 37%;
    --cyan-2-hsl: 187 80% 42%;
    --cyan-3-hsl: 188 72% 47%;
    --cyan-4-hsl: 187 69% 55%;
    --cyan-5-hsl: 187 74% 65%;
    --cyan-6-hsl: 186 77% 77%;
    --cyan-7-hsl: 185 84% 88%;
    --cyan-8-hsl: 185 81% 94%;
    --cyan-9-hsl: color-mix(in oklch, hsl(185 81% 94%), var(--base-white) 25%);
    --cyan-10-hsl: color-mix(in oklch, hsl(185 81% 94%), var(--base-white) 50%);
    --cyan--1-hsl: 189 85% 28%;
    --cyan--2-hsl: 189 84% 23%;
    --cyan--3-hsl: 190 84% 17%;
    --cyan--4-hsl: 189 84% 12%;
    --cyan--5-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 25%);
    --cyan--6-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 50%);
    --cyan--7-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 75%);
    --cyan--8-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
    --cyan--9-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
    --cyan--10-hsl: color-mix(in oklch, hsl(189 84% 12%), var(--base-black) 95%);
    --teal-0-hsl: 162 82% 40%;
    --teal-hsl: 162 82% 40%;
    --teal-1-hsl: 162 87% 35%;
    --teal-2-hsl: 162 82% 40%;
    --teal-3-hsl: 162 73% 46%;
    --teal-4-hsl: 162 68% 54%;
    --teal-5-hsl: 162 72% 65%;
    --teal-6-hsl: 162 78% 77%;
    --teal-7-hsl: 160 85% 87%;
    --teal-8-hsl: 161 79% 95%;
    --teal-9-hsl: color-mix(in oklch, hsl(161 79% 95%), var(--base-white) 25%);
    --teal-10-hsl: color-mix(in oklch, hsl(161 79% 95%), var(--base-white) 50%);
    --teal--1-hsl: 162 88% 26%;
    --teal--2-hsl: 162 89% 21%;
    --teal--3-hsl: 162 88% 16%;
    --teal--4-hsl: 163 89% 11%;
    --teal--5-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 25%);
    --teal--6-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 50%);
    --teal--7-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 75%);
    --teal--8-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
    --teal--9-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
    --teal--10-hsl: color-mix(in oklch, hsl(163 89% 11%), var(--base-black) 95%);
    --green-0-hsl: 130 57% 56%;
    --green-hsl: 130 57% 56%;
    --green-1-hsl: 131 53% 46%;
    --green-2-hsl: 131 50% 50%;
    --green-3-hsl: 130 57% 56%;
    --green-4-hsl: 130 61% 64%;
    --green-5-hsl: 129 68% 73%;
    --green-6-hsl: 128 71% 82%;
    --green-7-hsl: 128 76% 90%;
    --green-8-hsl: 131 67% 95%;
    --green-9-hsl: color-mix(in oklch, hsl(131 67% 95%), var(--base-white) 25%);
    --green-10-hsl: color-mix(in oklch, hsl(131 67% 95%), var(--base-white) 50%);
    --green--1-hsl: 132 52% 35%;
    --green--2-hsl: 132 52% 29%;
    --green--3-hsl: 132 53% 22%;
    --green--4-hsl: 131 53% 16%;
    --green--5-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 25%);
    --green--6-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 50%);
    --green--7-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 75%);
    --green--8-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
    --green--9-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
    --green--10-hsl: color-mix(in oklch, hsl(131 53% 16%), var(--base-black) 95%);
    --lime-0-hsl: 86 84% 36%;
    --lime-hsl: 86 84% 36%;
    --lime-1-hsl: 85 79% 40%;
    --lime-2-hsl: 85 74% 45%;
    --lime-3-hsl: 84 69% 51%;
    --lime-4-hsl: 83 73% 59%;
    --lime-5-hsl: 82 75% 69%;
    --lime-6-hsl: 81 81% 80%;
    --lime-7-hsl: 80 83% 88%;
    --lime-8-hsl: 79 81% 94%;
    --lime-9-hsl: color-mix(in oklch, hsl(79 81% 94%), var(--base-white) 25%);
    --lime-10-hsl: color-mix(in oklch, hsl(79 81% 94%), var(--base-white) 50%);
    --lime--1-hsl: 85 84% 32%;
    --lime--2-hsl: 85 83% 26%;
    --lime--3-hsl: 85 83% 21%;
    --lime--4-hsl: 85 84% 15%;
    --lime--5-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 25%);
    --lime--6-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 50%);
    --lime--7-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 75%);
    --lime--8-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
    --lime--9-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
    --lime--10-hsl: color-mix(in oklch, hsl(85 84% 15%), var(--base-black) 95%);
    --yellow-0-hsl: 39 100% 48%;
    --yellow-hsl: 39 100% 48%;
    --yellow-1-hsl: 39 100% 48%;
    --yellow-2-hsl: 42 96% 50%;
    --yellow-3-hsl: 45 97% 54%;
    --yellow-4-hsl: 47 100% 62%;
    --yellow-5-hsl: 48 100% 70%;
    --yellow-6-hsl: 49 100% 80%;
    --yellow-7-hsl: 49 100% 87%;
    --yellow-8-hsl: 50 100% 93%;
    --yellow-9-hsl: color-mix(in oklch, hsl(50 100% 93%), var(--base-white) 25%);
    --yellow-10-hsl: color-mix(in oklch, hsl(50 100% 93%), var(--base-white) 50%);
    --yellow--1-hsl: 31 100% 45%;
    --yellow--2-hsl: 31 100% 35%;
    --yellow--3-hsl: 31 100% 25%;
    --yellow--4-hsl: 31 100% 20%;
    --yellow--5-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 25%);
    --yellow--6-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 50%);
    --yellow--7-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 75%);
    --yellow--8-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
    --yellow--9-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
    --yellow--10-hsl: color-mix(in oklch, hsl(31 100% 20%), var(--base-black) 95%);
    --orange-0-hsl: 27 98% 54%;
    --orange-hsl: 27 98% 54%;
    --orange-1-hsl: 24 94% 50%;
    --orange-2-hsl: 27 98% 54%;
    --orange-3-hsl: 29 100% 58%;
    --orange-4-hsl: 31 100% 65%;
    --orange-5-hsl: 32 100% 74%;
    --orange-6-hsl: 33 100% 83%;
    --orange-7-hsl: 33 100% 90%;
    --orange-8-hsl: 34 100% 95%;
    --orange-9-hsl: color-mix(in oklch, hsl(34 100% 95%), var(--base-white) 25%);
    --orange-10-hsl: color-mix(in oklch, hsl(34 100% 95%), var(--base-white) 50%);
    --orange--1-hsl: 17 87% 45%;
    --orange--2-hsl: 17 87% 40%;
    --orange--3-hsl: 17 87% 32%;
    --orange--4-hsl: 17 87% 27%;
    --orange--5-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 25%);
    --orange--6-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 50%);
    --orange--7-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 75%);
    --orange--8-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
    --orange--9-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
    --orange--10-hsl: color-mix(in oklch, hsl(17 87% 27%), var(--base-black) 95%);
    --choco-0-hsl: 25 70% 49%;
    --choco-hsl: 25 70% 49%;
    --choco-1-hsl: 25 75% 42%;
    --choco-2-hsl: 25 70% 49%;
    --choco-3-hsl: 25 71% 57%;
    --choco-4-hsl: 25 75% 65%;
    --choco-5-hsl: 27 80% 72%;
    --choco-6-hsl: 30 85% 79%;
    --choco-7-hsl: 35 91% 86%;
    --choco-8-hsl: 48 100% 93%;
    --choco-9-hsl: color-mix(in oklch, hsl(48 100% 93%), var(--base-white) 25%);
    --choco-10-hsl: color-mix(in oklch, hsl(48 100% 93%), var(--base-white) 50%);
    --choco--1-hsl: 25 76% 31%;
    --choco--2-hsl: 25 71% 26%;
    --choco--3-hsl: 25 66% 21%;
    --choco--4-hsl: 25 65% 15%;
    --choco--5-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 25%);
    --choco--6-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 50%);
    --choco--7-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 75%);
    --choco--8-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
    --choco--9-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
    --choco--10-hsl: color-mix(in oklch, hsl(25 65% 15%), var(--base-black) 95%);
    --brown-0-hsl: 28 32% 50%;
    --brown-hsl: 28 32% 50%;
    --brown-1-hsl: 28 35% 43%;
    --brown-2-hsl: 28 32% 50%;
    --brown-3-hsl: 28 34% 57%;
    --brown-4-hsl: 27 36% 65%;
    --brown-5-hsl: 28 38% 72%;
    --brown-6-hsl: 28 40% 80%;
    --brown-7-hsl: 32 44% 87%;
    --brown-8-hsl: 36 60% 95%;
    --brown-9-hsl: color-mix(in oklch, hsl(36 60% 95%), var(--base-white) 25%);
    --brown-10-hsl: color-mix(in oklch, hsl(36 60% 95%), var(--base-white) 50%);
    --brown--1-hsl: 27 42% 31%;
    --brown--2-hsl: 25 48% 25%;
    --brown--3-hsl: 23 58% 19%;
    --brown--4-hsl: 22 57% 16%;
    --brown--5-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 25%);
    --brown--6-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 50%);
    --brown--7-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 75%);
    --brown--8-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
    --brown--9-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
    --brown--10-hsl: color-mix(in oklch, hsl(22 57% 16%), var(--base-black) 95%);
    --sand-0-hsl: 44 14% 54%;
    --sand-hsl: 44 14% 54%;
    --sand-1-hsl: 43 16% 39%;
    --sand-2-hsl: 42 14% 46%;
    --sand-3-hsl: 44 14% 54%;
    --sand-4-hsl: 44 17% 62%;
    --sand-5-hsl: 44 22% 69%;
    --sand-6-hsl: 45 22% 79%;
    --sand-7-hsl: 48 17% 88%;
    --sand-8-hsl: 200 27% 98%;
    --sand-9-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 25%);
    --sand-10-hsl: color-mix(in oklch, hsl(200 27% 98%), var(--base-white) 50%);
    --sand--1-hsl: 43 14% 26%;
    --sand--2-hsl: 44 11% 20%;
    --sand--3-hsl: 60 6% 14%;
    --sand--4-hsl: 60 6% 7%;
    --sand--5-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 25%);
    --sand--6-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 50%);
    --sand--7-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 75%);
    --sand--8-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --sand--9-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --sand--10-hsl: color-mix(in oklch, hsl(60 6% 7%), var(--base-black) 95%);
    --camo-0-hsl: 65 69% 59%;
    --camo-hsl: 65 69% 59%;
    --camo-1-hsl: 56 67% 33%;
    --camo-2-hsl: 59 65% 36%;
    --camo-3-hsl: 60 62% 41%;
    --camo-4-hsl: 63 61% 46%;
    --camo-5-hsl: 65 61% 51%;
    --camo-6-hsl: 65 69% 59%;
    --camo-7-hsl: 64 69% 77%;
    --camo-8-hsl: 66 71% 95%;
    --camo-9-hsl: color-mix(in oklch, hsl(66 71% 95%), var(--base-white) 25%);
    --camo-10-hsl: color-mix(in oklch, hsl(66 71% 95%), var(--base-white) 50%);
    --camo--1-hsl: 54 69% 25%;
    --camo--2-hsl: 53 69% 22%;
    --camo--3-hsl: 53 69% 18%;
    --camo--4-hsl: 52 69% 13%;
    --camo--5-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 25%);
    --camo--6-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 50%);
    --camo--7-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 75%);
    --camo--8-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
    --camo--9-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
    --camo--10-hsl: color-mix(in oklch, hsl(52 69% 13%), var(--base-black) 95%);
    --jungle-0-hsl: 73 90% 32%;
    --jungle-hsl: 73 90% 32%;
    --jungle-1-hsl: 74 66% 42%;
    --jungle-2-hsl: 74 55% 47%;
    --jungle-3-hsl: 74 53% 53%;
    --jungle-4-hsl: 74 56% 59%;
    --jungle-5-hsl: 75 62% 65%;
    --jungle-6-hsl: 74 68% 71%;
    --jungle-7-hsl: 74 79% 78%;
    --jungle-8-hsl: 74 98% 84%;
    --jungle-9-hsl: color-mix(in oklch, hsl(74 98% 84%), var(--base-white) 25%);
    --jungle-10-hsl: color-mix(in oklch, hsl(74 98% 84%), var(--base-white) 50%);
    --jungle--1-hsl: 73 90% 32%;
    --jungle--2-hsl: 73 91% 26%;
    --jungle--3-hsl: 73 91% 21%;
    --jungle--4-hsl: 73 90% 16%;
    --jungle--5-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 25%);
    --jungle--6-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 50%);
    --jungle--7-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 75%);
    --jungle--8-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
    --jungle--9-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
    --jungle--10-hsl: color-mix(in oklch, hsl(73 90% 16%), var(--base-black) 95%);
    --color-black-0: hsl(0 0% 100%);
    --color-black-1: hsl(0 0% 90%);
    --color-black-2: hsl(0 0% 80%);
    --color-black-3: hsl(0 0% 70%);
    --color-black-4: hsl(0 0% 60%);
    --color-black-5: hsl(0 0% 50%);
    --color-black-6: hsl(0 0% 40%);
    --color-black-7: hsl(0 0% 30%);
    --color-black-8: hsl(0 0% 20%);
    --color-black-9: hsl(0 0% 10%);
    --color-black-10: hsl(0 0% 5%);
    --color-white-0: hsl(0 0% 0%);
    --color-white-1: hsl(0 0% 5%);
    --color-white-2: hsl(0 0% 10%);
    --color-white-3: hsl(0 0% 15%);
    --color-white-4: hsl(0 0% 20%);
    --color-white-5: hsl(0 0% 25%);
    --color-white-6: hsl(0 0% 30%);
    --color-white-7: hsl(0 0% 35%);
    --color-white-8: hsl(0 0% 40%);
    --color-white-9: hsl(0 0% 45%);
    --color-white-10: hsl(0 0% 50%);
  }
}